$main-color: #224c3c;
$second-color: #e4c7a6;
$border-color: #927b52;
$text-color: #97a396;
$back-color: #e5e4e3;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  padding: 20px 60px;
  background-color: $back-color;
  color: $text-color;
}
