.icon {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &_info {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 132.7%;
    color: #ffffff;
    &_wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  &_text {
    text-decoration: none;
    color: #ffffff;
  }

  .icon {
    width: 15px;
    height: 15px;
    margin-right: 8px;
  }
}

.menu {
  width: 100%;
  margin-top: 45px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 122px;
    height: 62px;
  }

  .options {
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: flex-end;
    gap: 20px;

    .log-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 101px;
      height: 38px;
      background: none;
      border: 1px solid #b2b2b2;
      border-radius: 46px;
      color: #b2b2b2;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      &:hover {
        border: 1px solid #976464;
        color: #976464;
        cursor: pointer;
      }

      .wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          width: 15px;
          height: 15px;
          margin-right: 6px;
        }
      }
    }

    .faves-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 135px;
      height: 38px;
      background: none;
      border: 1px solid #b2b2b2;
      border-radius: 46px;
      color: #b2b2b2;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      &:hover {
        border: 1px solid #976464;
        color: #976464;
        cursor: pointer;
      }

      .wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          width: 15px;
          height: 15px;
          margin-right: 6px;
        }
      }
    }
  }
}
